.tituloClientes{
   @include titulo;
}

.parrafoClientes{
    font-size: 1.5rem;
    font-weight: 700;
    color: $colorSegundario;
    text-transform: capitalize;
}

.clientes{
    background-color: $colorSegundario;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.clientes h3{
    font-size: 1.5rem;
    font-weight: 900;
    color: $blanco;
    padding: .6rem .5rem;
    height: 3rem;
}

.datosClientes{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   border-bottom: .2rem $colorSegundario solid;
   align-items: center;

   &:hover{
       background-color: $gris;
   }
}

.datosClientes p{
    text-align: start;
    padding: .6rem .5rem;
    font-size: 1.4rem;
    font-weight: 900;
    color: $colorSegundario;
    margin: 0;
    border-right: .2rem $colorSegundario solid;
    text-align: center;

    &:last-of-type{
      border-right: none;  
    }
}

//botones

.btn{
    width: 100%;
    margin: .5rem 0;
    font-size: 1.2rem;
    font-weight: 900;
}

@include tel {
    .tituloClientes{
        @include titulo;
        font-size: 2.7rem;
        padding-top: 2rem;
     }

     .parrafoClientes{
        font-size: 1.8rem;
    }
    
    .clientes h3{
        font-size: 1.8rem;  
    }

    .datosClientes p{
        font-size: 1.7rem;
    }

    .btn{
        font-size: 1.5rem;
    }
}

@include desktop {

    .datosClientes p{
        display: flex;
        justify-content: space-around;
    }

    .btn{
        width: 70%;
        margin-left: 10%;
    }

}