.tituloCliente{
    @include titulo;
}

.tituloCliente span{
    font-size: 1.7rem;
    color: $grisOscuro;
    padding-left: 1rem;
    font-weight: 900;
}

.parrafoCliente{
    font-size: 1.5rem;
    font-weight: 700;
    color: $colorSegundario;
    text-transform: capitalize;
}

.infoCliente p{
    color: $colorSegundario;
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

.infoCliente p span{
    font-size: 1.6rem;
    color: $grisOscuro;
    padding-left: 1rem;
}

.contenedorBTN{
    display: flex;
    justify-content: center;
}

.volverBTN{
    width: 40%;
    font-size: 1.5rem;
    margin-top: 2rem;
}

@include tel{
    .tituloCliente{
        @include titulo;
        font-size: 2.7rem;
        margin-top: 2rem;
    }

    .tituloCliente span{
        font-size: 2rem;
    }

    .parrafoCliente{
        font-size: 1.8rem;
    }
    .infoCliente p{
        font-size: 1.9rem;
    }

    .infoCliente p span{
        font-size: 1.9rem;
    }

    .volverBTN{
        font-size: 1.8rem;
    }


}