.contenedor__titleForm{
    width: 100%;
    padding: .5rem 1rem;
    background-color: $blanco;
    overflow: hidden;
    padding-bottom: 1rem;
    border-radius: .5rem;

    -webkit-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.61);
    box-shadow: 0px 1px 9px 0px rgba(0,0,0,0.61);
}

.titleForm{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    color: $colorSegundario;
    margin: 2rem 0;
}

.camposForm{
    display: flex;
    flex-direction: column;
}

.camposForm label{
    font-size: 1.5rem;
    color: $colorSegundario;
    font-weight: 700;
}

.camposForm input{
    background-color: $grisClaro;
    border: none;
    height: 2.7rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

.camposForm textarea{
    border: none;
    background-color: $grisClaro;
    height: 10rem;
    border-radius: .5rem;
    font-size: 1.4rem;
    font-weight: 700;
    padding: .5rem 1rem;
}

.campoBtn{
    display: flex;
    justify-content: center;
}

.btnForm{
    margin: 2rem auto;
    width: 50%;
    display: inline-block;
    border: none;
    border-radius: .4rem;
    color: $gris;
    background-color: $colorSegundario;
    height: 2.9rem;
    font-size: 1.8rem;
    color: $blanco;
    font-weight: 700;
    transition: background-color .3s ease;

    &:hover{
        background-color: $azul;
    }
}

.alerta{
    margin-top: .5rem;
    color: $colorPrimario;
    font-size: 1.3rem;
    font-weight: 900;
}