.contenedor__titleForm{
    width: 100%;
    padding: .5rem 1rem;
    background-color: $blanco;
}

.titleForm{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 900;
    color: $colorSegundario;
}