
.titulo{
    color: $colorSegundario;
    font-size: 2.5rem;
    font-weight: 900;
}

.navbar{
    background-color: $colorPrimario;
}
.navbarToggle{
   background-color: $gris;
   border: .1px  $gris solid;
}
.link{
    color: $blanco;
    @include navbar;
}

.activo{
    color: $colorSegundario;
    @include navbar;
}

@include tel {
    .titulo{
        font-size: 2.8rem;
        padding: 1.7rem 0;
    }

    .link{
        @include navbar;
        font-size: 2.3rem;
    }

    .activo{
        @include navbar;
        font-size: 2.3rem;
    }

}
