

@mixin titulo {
    font-size: 2rem;
    font-weight: 900;
    color: $colorSegundario;
    margin: 1rem 0;
    text-transform: uppercase;
    text-align: center;
    @content;
}

@mixin  navbar {
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: $fuentePrincipal;

    &:hover{
        color: $gris;
    }

    &:nth-of-type(1){
        margin-top: 1.5rem;
    }

    &:last-of-type{
        margin-bottom: 1.5rem;
    }

    @content;
}

@mixin tel {
    @media(min-width: 480px){
        @content;
    }
}

@mixin desktop {
    @media(min-width: 992px){
        @content;
    }
}