//variables

//colores
$blanco:#fff;
$grisClaro:#e9ecef;
$gris:#d6d6d6;
$azul:#239b97;
$grisOscuro:#705f5f;
$colorPrimario:#a50038;
$colorSegundario:#15BEB8;


//fuentes
$fuentePrincipal:'Lato', sans-serif;